#targetingForm {
  width: 37%;
  float: left;
}

.form_description {
  padding: 0 16px 12px;
  font-size: 13px;
  line-height: 16px;
  color: $light-gray;
}

.age_from, .age_to {
  float: left;
  width: 45%;
}
.age_to {margin: 0!important;}

.birthday_radio {
  margin: 0!important;
  float: left;
  width: 25%;
  .Radio__content {font-size: 14px;}
}

.top_txt {
  display: flex;
  .icon {
    margin: 4px 0 0 5px;
  }
}



