// background colors

$body_bg: #21203d;
$content_bg: #3a3b5e;
$content_hover: #363757;
$additional_bg_color: #474873;
$bg_content_edit: #2f304d;

// text colors
$txt_main_color: #8e8fbb;
$txt_white_color: #ffffff;
$txt_light_gray_color: #a2a2ad;
$txt_gray_color: #828294;
$txt_pink_color: #f53180;

// additional colors
$purple: #e123f8;
$yellow: #ffc25e;
$red: #ff3c67;
$green: #3ef57c;
$blue: #3bb4ff;

//border-color
$border-pink: #f53180;

$font-14: 14px;
$light-gray: #909499;
$gray: #76787A;

$roboto-light: 'Roboto', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-medium: 'Roboto-medium', sans-serif;
$roboto-bold: 'Roboto-bold', sans-serif;