#image_upload_modal {
  .Icon {
    float: right;
    color: #87919e;
    cursor: pointer;
  }
  .header {
    display: block;
    margin: 10px 0;
    color: rgba(144, 148, 153, 0.65);
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  .label {
    display: flex;
    flex-flow: column nowrap;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 175px;
    margin: 0px;
    cursor: pointer;
  }
  .img {
    width: 86.6667px;
    height: 130px;
    position: absolute;
    margin: auto;
    object-fit: cover;
  }
  .text {
    padding-bottom: 15px;
    color: rgb(144, 148, 153);
    font-size: 13px;
    line-height: 16px;
    text-align: center;
  }
  .upload_btn, .confirm_btn {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 0 25px;
    background-color: rgb(81, 129, 184);
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 30px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      background-color: rgb(69, 116, 170);
    }
  }
  .confirm_btn {margin: auto}

}